<div class="container">
    <h1>Football Match</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h4 class="text-weight-normal">Showing {{{data.greece.HomeTeam}}} - {{{data.greece.AwayTeam}}} match.</h4>
            <div class="blog">
                    <div class="post">
                        <h2><a href="{{greeceUrl data.greece._id}}">{{{data.greece.HomeTeam}}} - {{{data.greece.AwayTeam}}}</a></h2>
                    </div>
            </div>
        </div>
    </div>
</div>
