<div class="container">
    <h1>Football Matches</h1>
</div>
<div class="container">
    <div class="row">
        <form class="navbar-form navbar-left" role="search" action="/greece/search/filter" method="GET">
            <div class="form-group">
                <label for="home-team">Home Team</label>
				<select id="home-team" name="homeTeam">
                    <option value="">Please select</option>
					{{# each data.teams}}
                      <option value="{{{this}}}">{{{this}}}</option>
					{{/each}}
				</select>
                <label for="away-team">Away Team</label>
                <select id="away-team" name="awayTeam">
                    <option value="">Please select</option>
					{{# each data.teams}}
                        <option value="{{{this}}}">{{{this}}}</option>
					{{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
	</div>
	<div class="row">
        <div class="col-sm-8 col-md-9">
            <h4 class="text-weight-normal">Showing {{ data.greece.results.length}} matches.</h4>
			{{#if data.HomeTeam}}
                <h4 class="text-weight-normal">Results for {{data.HomeTeam}} - {{data.AwayTeam}}.</h4>
			{{/if}}
            <div class="blog">
				{{# each data.greece.results}}
                    <div class="post">
                        <h2><a href="{{greeceUrl _id}}">{{{HomeTeam}}} - {{{AwayTeam}}}</a></h2>
                    </div>
				{{/each}}
            </div>
        </div>
        <iframe id="tableFrame" src="http://www.tablesleague.com/iframe?width=520&height=395&font_name=Tahoma&position=1&font_size=12&team_link=0&link_color=404040&games=1&wins=1&draws=1&lost=1&goals=1&goals_against=1&gd=1&points=1&next=1&form=1&font_size=12&font_color=000000&bg_color=FFFFFF&header_font_color=FFFFFF&header_bg_color=1fb9e4&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_198&team=&timezone=2&language=2&team_flags=0" width="520" height=395 frameborder="0" scrolling="no"></iframe>
    </div>
</div>
<script>
  //  $("#tableFrame").contents().find("body").find(".header").hide();
</script>
