<div class="container">
    <h1>Football Matches</h1>
</div>
<div class="container">
    <div class="row">
        <form class="navbar-form navbar-left" role="search" action="/greece/search/filter" method="GET">
            <div class="form-group">
                <label for="home-team">Home Team</label>
				<select id="home-team" name="homeTeam">
                    <option value="">Please select</option>
					{{# each data.teams}}
                      <option value="{{{this}}}">{{{this}}}</option>
					{{/each}}
				</select>
                <label for="away-team">Away Team</label>
                <select id="away-team" name="awayTeam">
                    <option value="">Please select</option>
					{{# each data.teams}}
                        <option value="{{{this}}}">{{{this}}}</option>
					{{/each}}
                </select>
            </div>
			<div class="form-group">
                <label for="season">Away Team</label>
                <select id="season" name="season">
					<option value="">Please select</option>
					{{# each data.seasons}}
                        <option value="{{{this}}}">{{{this}}}</option>
					{{/each}}
                </select>
			</div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
	</div>
    <div>
		{{#if data.HomeTeam}}
            <h4 class="text-weight-normal">Results for {{data.HomeTeam}} - {{data.AwayTeam}}.</h4>
		{{/if}}
    </div>
    <div class="row jumbotron">
        <div class="col-md-10 col-md-offset-1">
			<table id="results-dt">
		<thead>
			<tr>
                <th>#</th>
                <th>Date</th>
                <th>Season</th>
                <th>Game</th>
                <th>League</th>
                <th>Result</th>
                <th>Full time</th>
                <th>First half</th>
			</tr>
		</thead>
        <tfoot>
			<tr>
				<th>#</th>
				<th>Date</th>
                <th>Season</th>
				<th>Game</th>
				<th>League</th>
				<th>Result</th>
				<th>Full time</th>
				<th>First half</th>
			</tr>
        </tfoot>
		<tbody>
		{{# each data.greece.results}}
			<tr>
				<td>{{math @index "+" 1}}</td>
                <td>{{date Date format='YYYY-MM-DD'}}</td>
                <td>{{Season}}</td>
                <td><a href="{{greeceUrl _id}}">{{HomeTeam}} - {{AwayTeam}}</a></td>
                <td>{{division Div}}</td>
                <td>{{FTR}}</td>
                <td>{{FTHG}} - {{FTAG}}</td>
                <td>{{HTHG}} - {{HTAG}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
        </div>
    </div>
	<div class="row">
        <div class="col-md-8 col-md-offset-3">
        	<iframe id="tableFrame" src="http://www.tablesleague.com/iframe?width=520&height=395&font_name=Tahoma&position=1&font_size=12&team_link=0&link_color=404040&games=1&wins=1&draws=1&lost=1&goals=1&goals_against=1&gd=1&points=1&next=1&form=1&font_size=12&font_color=000000&bg_color=FFFFFF&header_font_color=FFFFFF&header_bg_color=1fb9e4&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_198&team=&timezone=2&language=2&team_flags=0" width="520" height=395 frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
<script src="/js/jquery/jquery-1.11.3.min.js"></script>
<script>
  //  $("#tableFrame").contents().find("body").find(".header").hide();
  $(document).ready(function() {
      $('#results-dt').DataTable();
  } );
</script>
